<h1>Data Science Tools and Ecosystem<h1>

<h2>Author<h2>

Nick

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:<strong>
    
    - You will learn to create ordered lists in JupyterLab
    - You will learn to create tables in JupyterLab
    - You will learn to execute arithmetic expressions in JupyterLab

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. TensorFlow

|Data Science Tools|
|------------------|
|JupyterLab        |
|RStudio           |
|Apache Zeppelin   |

In [3]:
(3*4)+5

17

<h3>Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [6]:
#This will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335